<ng-container *ngIf="!isMobile()">
    <div class="d-flex flex-column w-100 p-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" [ngClass]="{'active': viewType==='GRID'}" (click)="viewType='GRID'">Graella</button>
            <button type="button" class="btn btn-primary" [ngClass]="{'active': viewType==='LIST'}" (click)="viewType='LIST'">Llistat</button>
        </div>
        <div [ngSwitch]="viewType">
            <ng-container *ngSwitchCase="'GRID'" [ngTemplateOutlet]="gridTemplate"></ng-container>
            <ng-container *ngSwitchCase="'LIST'" [ngTemplateOutlet]="listTemplate"></ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isMobile()">
    <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center justify-content-between 100 fs-3 title-block p-3">
            <div><i class="fas fa-home me-2"></i><span>HomeInsights</span></div>
            <button class="btn btn-sm btn-light" (click)="openNewHome(homeDetailPopupTemplate)">+ New</button>
        </div>
        <div class="w-100 px-3">
            <ng-container [ngTemplateOutlet]="gridTemplate"></ng-container>
        </div>
    </div>
</ng-container>

<ng-template #gridTemplate>
    <div class="d-flex flex-column w-100 pb-4">
        <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
        <div class="d-flex flex-wrap home-grid w-100 mt-5" [ngClass]="{'justify-content-center': isMobile(), 'mt-3': isMobile()}">
            <ng-container *ngFor="let home of homes">
                <ng-container [ngTemplateOutlet]="gridCardTemplate" [ngTemplateOutletContext]="{home}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #listTemplate>
    <div class="d-flex flex-column w-100">
        <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
        <div class="w-100 d-flex justify-content-end align-items-center">
            <button class="btn btn-sm" (click)="openNewHome(homeDetailPopupTemplate)">+ Nova finca/vivenda</button>
        </div>
        <div class="d-flex align-items-center text-start p-2 w-100">{{homes.length}} resultats:</div>
        <table class="table table-sm table-hover mt-3">
            <thead>
                <tr>
                    <th></th>
                    <th class="cursor-pointer" (click)="sortBy('title')">Title <ng-container *ngIf="isSortedBy('title')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'title'}"></ng-container></th>
                    <th>Adreça / Zona</th>
                    <th>Població</th>
                    <th class="cursor-pointer" (click)="sortBy('price')">Preu <ng-container *ngIf="isSortedBy('price')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'price'}"></ng-container></th>
                    <th class="cursor-pointer" (click)="sortBy('agency')">Agència <ng-container *ngIf="isSortedBy('agency')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'agency'}"></ng-container></th>
                    <th>Url</th>
                    <th class="cursor-pointer text-end" (click)="sortBy('oks')">A favor <ng-container *ngIf="isSortedBy('oks')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'oks'}"></ng-container></th>
                    <th class="cursor-pointer text-end" (click)="sortBy('kos')">En contra <ng-container  *ngIf="isSortedBy('kos')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'kos'}"></ng-container></th>
                    <th class="cursor-pointer text-center" (click)="sortBy('visited')">Estat visita <ng-container  *ngIf="isSortedBy('visitStatus')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'visitStatus'}"></ng-container></th>
                    <th class="cursor-pointer text-end" (click)="sortBy('score')">Puntuació <ng-container  *ngIf="isSortedBy('score')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'score'}"></ng-container></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let home of homes">
                    <tr>
                        <td>
                            <div class="thumb-container">
                                <img (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="(home.urlImages && home.urlImages.length>0)?home.urlImages[0]:noImageUrl">
                            </div>
                        </td>
                        <td><a href="javascript://" (click)="openHomeDetail(homeDetailPopupTemplate, home)">{{home.title}}</a></td>
                        <td>{{home.locationInfo?.address}} {{home.locationInfo?.zone}}</td>
                        <td>{{home.locationInfo && home.locationInfo.location ? home.locationInfo.location:''}}</td>
                        <td>{{home.price | currency:'€':'symbol':'1.0-2'}}</td>
                        <td>{{home.agency}}</td>
                        <td><a *ngIf="home.url && home.url.length>0" [href]="home.url" target="_blank"><i class="fas fa-link"></i></a></td>
                        <td>
                            <ng-container [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.oks, itemsOther: home.kos, type: 'OK', className:'text-end w-100'}"></ng-container>
                        </td>
                        <td>
                            <ng-container [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.kos, itemsOther:home.oks, type: 'KO', className:'text-end w-100'}"></ng-container>
                        </td>
                        <td class="text-start ps-3">
                            <ng-container [ngSwitch]="home.visitStatus">
                                <ng-container *ngSwitchCase="'pending'"><i class="fas fa-clock text-warning me-2"></i>Pendent</ng-container>
                                <ng-container *ngSwitchCase="'visited'"><i class="fas fa-check text-success me-2"></i>Visitat</ng-container>
                                <ng-container *ngSwitchCase="'discarted'"><i class="fas fa-close text-danger me-2"></i>Descartat</ng-container>
                            </ng-container>
                        </td>
                        <td class="text-end">
                            <span class="score fs-5" title="Puntuació" style="background-color: {{getColorFromValue(home.score)}};">{{home.score || ''}}</span>
                        </td>
                        <td class="text-end">
                            <i class="fas fa-trash cursor-pointer" (click)="removeHome(home.id)"></i>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>

<!-- Grid card template -->
<ng-template let-home="home" #gridCardTemplate>
    <div class="card">
        <div class="image-container-slider d-flex w-100">
            <ng-container *ngIf="home.urlImages && home.urlImages.length>0">
                <ng-container *ngFor="let img of home.urlImages">
                    <img (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="img" class="card-img-top cursor-pointer" alt="{{home.title}}">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!(home.urlImages && home.urlImages.length>0)">
                <img (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="noImageUrl" class="card-img-top cursor-pointer" alt="{{home.title}}">
            </ng-container>
        </div>
        
        <img  *ngIf="false" (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="(home.urlImages && home.urlImages.length>0)?home.urlImages[0]:noImageUrl" class="card-img-top cursor-pointer" alt="{{home.title}}">
        
        <div *ngIf="home.visitStatus==='visited'" class="visited-flag text-center py-0 px-2" [ngClass]="{'mobile': isMobile()}"><i class="fas fa-check text-success me-2"></i>Visitat</div>
        <div *ngIf="home.visitStatus==='pending'" class="pending-flag text-center py-0 px-2" [ngClass]="{'mobile': isMobile()}"><i class="fas fa-clock me-2"></i>Pendent</div>
        <div *ngIf="home.visitStatus==='discarted'" class="discarted-flag text-center py-0 px-2" [ngClass]="{'mobile': isMobile()}"><i class="fas fa-close me-2"></i>Descartat</div>
        
        <div class="card-body">
          <h5 class="card-title cursor-pointer" (click)="openHomeDetail(homeDetailPopupTemplate, home)">{{home.title}}</h5>
          <p class="card-text">{{home.locationInfo?.address}}</p>
          <div class="w-100 d-flex justify-content-between" style="gap: 2px;">
            <div class="d-flex">
                <ng-container *ngIf="home.oks.length>0" [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.oks, itemsOther: home.kos, type: 'OK', showIcon: true, className: 'me-3'}"></ng-container>
                <ng-container *ngIf="home.kos.length>0" [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.kos, itemsOther: home.kos, type: 'KO', showIcon: true}"></ng-container>
            </div>
            <a [href]="home.url" class="text-decoration-none" target="_blank"><i class="fas fa-link me-1"></i>Anunci</a>
          </div>
          <div class="d-flex justify-content-end align-items-center w-100 p-0 agencia mt-1">
            {{home.agency}}
          </div>
          <div class="d-flex justify-content-between align-items-center w-100 mt-3">
            <span class="score fs-4" title="Puntuació" style="background-color: {{getColorFromValue(home.score)}};">{{home.score || ''}}</span>
            <p class="card-text text-end fs-5">{{home.price | currency:'€':'symbol':'1.0-2'}}</p>
          </div>
        </div>
    </div>
</ng-template>

<!-- Sort icons template -->
<ng-template let-sortField="sortField" #sortIconsTemplate>
    <i class="fas ms-2" [ngClass]="{'fa-arrow-down': isSortedBy(sortField, 'ASC'), 'fa-arrow-up': isSortedBy(sortField, 'DESC')}"></i>
</ng-template>

<!-- Header template -->
<ng-template #headerTemplate>
    <div class="d-flex justify-content-between align-items-center w-100 pt-2 totals-header">
        <div class="w-50 me-3 my-2">
            <div class="label-ng-select">Cerca per</div>
            <input type="text" [formControl]="searchControl" class="form-control search-box w-100" placeholder="Títol, ubicació o agència">
        </div>
        <ng-select
            *ngIf="viewType==='GRID'"
            class="w-50"
            [items]="sortGridTypes"
            bindLabel="name"
            bindValue="id"
            [multiple]="false"
            [clearable]="false"
            [ngModel]="sortConfig.sortBy"
            (change)="onSortByChange($event)"
            placeholder="Ordenat per">
             <!-- Custom Option Template -->
            <ng-template ng-option-tmp let-item="item">
                <div>
                    <strong>{{ item.name }}</strong>
                    <small class="text-muted ms-2">({{ item.sortDir }})</small>
                </div>
            </ng-template>

            <!-- Custom Selected Item Template -->
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.name }} <small class="text-muted ms-2">({{ item.sortDir }})</small></span>
            </ng-template>
        </ng-select>
    </div>
</ng-template>

<!-- Pros/contras template -->
<ng-template let-items="items" let-className="className" let-itemsOther="itemsOther" let-showIcon="showIcon" let-type="type" #prosContras>
    <div class="{{className}}">
        <ng-container *ngIf="showIcon">
            <i 
                [ngbTooltip]="tooltipProsContras"
                container="body"
                placement="auto"
                (mouseenter)="tooltipItems=items;tooltipType=type"
                class="fas fa-thumbs-up text-success me-1" *ngIf="type==='OK'">
            </i>
            <i [ngbTooltip]="tooltipProsContras"
                container="body"
                placement="auto"
                (mouseenter)="tooltipItems=items;tooltipType=type"
                class="fas fa-thumbs-down text-danger me-1" *ngIf="type==='KO'">
            </i>
        </ng-container>
        <ng-container *ngIf="items.length>0">
            <span class="badge badge-pill cursor-pointer" 
            [ngClass]="{
                'cursor-pointer': items.length>0,
                'badge-success': type==='OK' && !(items.length>itemsOther.length),
                'badge-danger': type==='KO' && !(items.length>itemsOther.length),
                'badge-bg-success': type==='OK' && items.length>itemsOther.length,
                'badge-bg-danger': type==='KO' && items.length>itemsOther.length
            }"
            [ngbTooltip]="tooltipProsContras"
            container="body"
            placement="auto"
            (mouseenter)="tooltipItems=items;tooltipType=type"
            >{{items.length>0?items.length : '-'}}</span>
        </ng-container>
        <ng-container *ngIf="items.length===0">
            <span class="badge badge-pill cursor-default badge-no-border" 
            [ngClass]="{
                'badge-success': type==='OK' && !(items.length>itemsOther.length),
                'badge-danger': type==='KO' && !(items.length>itemsOther.length),
                'badge-bg-success': type==='OK' && items.length>itemsOther.length,
                'badge-bg-danger': type==='KO' && items.length>itemsOther.length
            }">-</span>
        </ng-container>
        
    </div>
</ng-template>

<!-- Pros/contras tooltip template -->
<ng-template #tooltipProsContras>
    <div class="p-3" [ngClass]="{'text-success': tooltipType==='OK', 'text-danger': tooltipType==='KO'}">
        <ul *ngIf="tooltipItems.length>0" class="ms-2 p-0">
            <ng-container *ngFor="let item of tooltipItems">
                <li class="text-start">{{item}}</li>
            </ng-container>
          </ul>
    </div>
</ng-template>

<!-- Home detail modal -->
<ng-template #homeDetailPopupTemplate let-modal>
    <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <span class="fs-3" *ngIf="!isNewHome()">Detall finca/vivenda</span>
            <span class="fs-3" *ngIf="isNewHome()">Nova finca/vivenda</span>
            <div class="d-flex align-items-center justify-content-end">
                <i class="fas fa-close cursor-pointer fs-3" (click)="closeContactDetail()"></i>
            </div>
        </div>
    </div>
    <div class="modal-body p-3 pt-0">

        <ng-container *ngIf="isNewHome()">
            <div class="w-100 d-flex flex-column justify-content-start align-items-start mb-3" style="gap: 5px;">
                <label>
                    <input
                      type="radio"
                      name="newHomeFromElement"
                      value="link"
                      [(ngModel)]="newHomeFrom">
                    Usant un link (Habitaclia)
                  </label>
                  
                  <label>
                    <input
                      type="radio"
                      name="newHomeFromElement"
                      value="form"
                      [(ngModel)]="newHomeFrom">
                    Manualment
                  </label>
            </div>
        </ng-container>

        <div *ngIf="newHomeFrom==='link'" class="w-100 d-flex">
            <app-home-url-scrapper [homes]="homes" (onHomeFound)="doAddHomeFound($event)" (onCheckingUrl)="setCheckingUrl($event)" class="w-100"></app-home-url-scrapper>
        </div>

        <form [formGroup]="form" [hidden]="newHomeFrom!=='form'">

            <div *ngFor="let field of formConfig" class="mt-2">
                <label>{{ field.label }}</label>
                <input
                  class="form-control"
                  [ngClass]="{'disabled': isReadonly()}"
                  [type]="field.type"
                  [disabled]="isReadonly()"
                  [formControlName]="field.name"
                  [required]="field.required || false"
                />
            </div>

            <!-- Slider -->
            <ng-container *ngIf="currentHome?.urlImages">
                <div class="w-100 d-flex image-container-slider mt-3">
                    <ng-container *ngFor="let img of currentHome?.urlImages">
                        <img [src]="img">
                    </ng-container>
                </div>
            </ng-container>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-flex align-items-center justify-content-center w-100 p-3">
            <button class="btn btn-sm btn-light me-3" (click)="closeContactDetail()">Close</button>
            <button *ngIf="isNewHome()" [disabled]="!newHome || (newHomeFrom==='form' && !form.valid)" class="btn btn-sm btn-danger" (click)="saveNewHome();closeContactDetail()">Create</button>
            <button *ngIf="!isNewHome() && !isReadonly()" class="btn btn-sm btn-danger" (click)="saveHome();closeContactDetail()">Save</button>
            <button class="btn btn-sm btn-light ms-1" (click)="isReadonly.set(false)" *ngIf="!isNewHome() && isReadonly()"><i class="fas fa-edit fs-4"></i>Editar</button>
        </div>
    </div>
</ng-template>