<div class="d-flex flex-column w-100 p-2">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" [ngClass]="{'active': viewType==='GRID'}" (click)="viewType='GRID'">Graella</button>
        <button type="button" class="btn btn-primary" [ngClass]="{'active': viewType==='LIST'}" (click)="viewType='LIST'">Llistat</button>
    </div>
    <div [ngSwitch]="viewType">
        <ng-container *ngSwitchCase="'GRID'" [ngTemplateOutlet]="gridTemplate"></ng-container>
        <ng-container *ngSwitchCase="'LIST'" [ngTemplateOutlet]="listTemplate"></ng-container>
    </div>
</div>

<ng-template #gridTemplate>
    <div class="d-flex flex-column w-100">
        <ng-container [ngTemplateOutlet]="totalsHeaderTemplate"></ng-container>
        <div class="w-100 d-flex justify-content-end">
            <ng-select
                class="w-50"
                [items]="sortGridTypes"
                bindLabel="name"
                bindValue="id"
                [multiple]="false"
                [clearable]="false"
                [ngModel]="sortConfig.sortBy"
                (change)="onSortByChange($event)"
                placeholder="Ordenat per">
            </ng-select>
        </div>
        <div class="d-flex flex-wrap home-grid w-100 mt-3">
            <ng-container *ngFor="let home of homes">
                <div class="card">
                    <img (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="(home.urlImages && home.urlImages.length>0)?home.urlImages[0]:noImageUrl" class="card-img-top cursor-pointer" alt="{{home.title}}">
                    <div class="card-body">
                      <h5 class="card-title cursor-pointer" (click)="openHomeDetail(homeDetailPopupTemplate, home)">{{home.title}}</h5>
                      <p class="card-text">{{home.locationInfo?.address}}</p>
                      <div class="w-100 d-flex justify-content-between" style="gap: 2px;">
                        <div class="d-flex">
                            <ng-container *ngIf="home.oks.length>0" [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.oks, itemsOther: home.kos, type: 'OK', showIcon: true, className: 'me-3'}"></ng-container>
                            <ng-container *ngIf="home.kos.length>0" [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.kos, itemsOther: home.kos, type: 'KO', showIcon: true}"></ng-container>
                        </div>
                        <a [href]="home.url" class="text-decoration-none" target="_blank"><i class="fas fa-link me-1"></i>Website</a>
                      </div>
                      <div class="d-flex justify-content-between align-items-center w-100 mt-3">
                        <span class="score fs-4" title="Puntuació" style="background-color: {{getColorFromValue(home.score)}};">{{home.score || ''}}</span>
                        <p class="card-text text-end fs-5">{{home.price | currency:'€':'symbol':'1.0-2'}}</p>
                      </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #listTemplate>
    <div class="d-flex flex-column w-100">
        <ng-container [ngTemplateOutlet]="totalsHeaderTemplate"></ng-container>
        <div class="w-100 d-flex justify-content-end align-items-center">
            <button class="btn btn-sm" (click)="openNewHome(homeDetailPopupTemplate)">+ Nova finca/vivenda</button>
        </div>
        <table class="table table-sm table-hover mt-3">
            <thead>
                <tr>
                    <th></th>
                    <th class="cursor-pointer" (click)="sortBy('title')">Title <ng-container *ngIf="isSortedBy('title')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'title'}"></ng-container></th>
                    <th>Addreça / Zona</th>
                    <th>Població</th>
                    <th class="cursor-pointer" (click)="sortBy('price')">Preu <ng-container *ngIf="isSortedBy('price')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'price'}"></ng-container></th>
                    <th class="cursor-pointer" (click)="sortBy('agency')">Agència <ng-container *ngIf="isSortedBy('agency')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'agency'}"></ng-container></th>
                    <th>Url</th>
                    <th class="cursor-pointer text-end" (click)="sortBy('oks')">A favor <ng-container *ngIf="isSortedBy('oks')" [ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'oks'}"></ng-container></th>
                    <th class="cursor-pointer text-end" (click)="sortBy('kos')">En contra <ng-container  *ngIf="isSortedBy('kos')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'kos'}"></ng-container></th>
                    <th class="cursor-pointer text-center" (click)="sortBy('visited')">Visitat <ng-container  *ngIf="isSortedBy('visited')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'visited'}"></ng-container></th>
                    <th class="cursor-pointer text-center" (click)="sortBy('score')">Puntuació <ng-container  *ngIf="isSortedBy('score')"[ngTemplateOutlet]="sortIconsTemplate" [ngTemplateOutletContext]="{sortField:'score'}"></ng-container></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let home of homes">
                    <tr>
                        <td>
                            <div class="thumb-container">
                                <img (click)="openHomeDetail(homeDetailPopupTemplate, home)" [src]="(home.urlImages && home.urlImages.length>0)?home.urlImages[0]:noImageUrl">
                            </div>
                        </td>
                        <td><a href="javascript://" (click)="openHomeDetail(homeDetailPopupTemplate, home)">{{home.title}}</a></td>
                        <td>{{home.locationInfo?.address}} {{home.locationInfo?.zone}}</td>
                        <td>{{home.locationInfo && home.locationInfo.location ? home.locationInfo.location:''}}</td>
                        <td>{{home.price | currency:'€':'symbol':'1.0-2'}}</td>
                        <td>{{home.agency}}</td>
                        <td><a *ngIf="home.url && home.url.length>0" [href]="home.url" target="_blank"><i class="fas fa-link"></i></a></td>
                        <td>
                            <ng-container [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.oks, itemsOther: home.kos, type: 'OK', className:'text-end w-100'}"></ng-container>
                        </td>
                        <td>
                            <ng-container [ngTemplateOutlet]="prosContras" [ngTemplateOutletContext]="{items:home.kos, itemsOther:home.oks, type: 'KO', className:'text-end w-100'}"></ng-container>
                        </td>
                        <td class="text-center">
                            <i class="fas fa-check text-success" *ngIf="home.visited"></i>
                        </td>
                        <td class="text-end">
                            <span class="score fs-5" title="Puntuació" style="background-color: {{getColorFromValue(home.score)}};">{{home.score || ''}}</span>
                        </td>
                        <td class="text-end">
                            <i class="fas fa-trash cursor-pointer" (click)="removeHome(home.id)"></i>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>

<!-- Sort icons template -->
<ng-template let-sortField="sortField" #sortIconsTemplate>
    <i class="fas ms-2" [ngClass]="{'fa-arrow-down': isSortedBy(sortField, 'ASC'), 'fa-arrow-up': isSortedBy(sortField, 'DESC')}"></i>
</ng-template>

<!-- Totals header template -->
<ng-template #totalsHeaderTemplate>
    <div class="w-100 text-end p-2">{{homes.length}} finques/vivendes</div>
</ng-template>

<!-- Pros/contras template -->
<ng-template let-items="items" let-className="className" let-itemsOther="itemsOther" let-showIcon="showIcon" let-type="type" #prosContras>
    <div class="{{className}}">
        <ng-container *ngIf="showIcon">
            <i 
                [ngbTooltip]="tooltipProsContras"
                container="body"
                placement="auto"
                (mouseenter)="tooltipItems=items;tooltipType=type"
                class="fas fa-thumbs-up text-success me-1" *ngIf="type==='OK'">
            </i>
            <i [ngbTooltip]="tooltipProsContras"
                container="body"
                placement="auto"
                (mouseenter)="tooltipItems=items;tooltipType=type"
                class="fas fa-thumbs-down text-danger me-1" *ngIf="type==='KO'">
            </i>
        </ng-container>
        <ng-container *ngIf="items.length>0">
            <span class="badge badge-pill cursor-pointer" 
            [ngClass]="{
                'cursor-pointer': items.length>0,
                'badge-success': type==='OK' && !(items.length>itemsOther.length),
                'badge-danger': type==='KO' && !(items.length>itemsOther.length),
                'badge-bg-success': type==='OK' && items.length>itemsOther.length,
                'badge-bg-danger': type==='KO' && items.length>itemsOther.length
            }"
            [ngbTooltip]="tooltipProsContras"
            container="body"
            placement="auto"
            (mouseenter)="tooltipItems=items;tooltipType=type"
            >{{items.length>0?items.length : '-'}}</span>
        </ng-container>
        <ng-container *ngIf="items.length===0">
            <span class="badge badge-pill cursor-default badge-no-border" 
            [ngClass]="{
                'badge-success': type==='OK' && !(items.length>itemsOther.length),
                'badge-danger': type==='KO' && !(items.length>itemsOther.length),
                'badge-bg-success': type==='OK' && items.length>itemsOther.length,
                'badge-bg-danger': type==='KO' && items.length>itemsOther.length
            }">-</span>
        </ng-container>
        
    </div>
</ng-template>

<!-- Pros/contras tooltip template -->
<ng-template #tooltipProsContras>
    <div class="p-3" [ngClass]="{'text-success': tooltipType==='OK', 'text-danger': tooltipType==='KO'}">
        <ul *ngIf="tooltipItems.length>0" class="ms-2 p-0">
            <ng-container *ngFor="let item of tooltipItems">
                <li class="text-start">{{item}}</li>
            </ng-container>
          </ul>
    </div>
</ng-template>

<!-- Home detail modal -->
<ng-template #homeDetailPopupTemplate let-modal>
    <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100 p-3">
            <span class="fs-3">Detall finca/vivenda</span>
            <i class="fas fa-close cursor-pointer fs-3" (click)="closeContactDetail()"></i>
        </div>
    </div>
    <div class="modal-body p-3 pt-0">
        <form [formGroup]="form">

            <div *ngFor="let field of formConfig" class="mt-2">
                <label>{{ field.label }}</label>
                <input
                  class="form-control"
                  [ngClass]="{'disabled': readonly}"
                  [type]="field.type"
                  [disabled]="readonly"
                  [formControlName]="field.name"
                  [required]="field.required ?? false"
                />
            </div>

            <ng-container *ngIf="currentHome?.urlImages">
                <div class="w-100 d-flex flex-wrap image-container mt-3">
                    <ng-container *ngFor="let img of currentHome?.urlImages">
                        <img [src]="img">
                    </ng-container>
                </div>
            </ng-container>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-flex align-items-center justify-content-center w-100 p-3">
            <button class="btn btn-sm btn-light me-3" (click)="closeContactDetail()">Close</button>
            <!-- <button class="btn btn-sm btn-danger" (click)="saveHome();closeContactDetail()">Save</button> -->
        </div>
    </div>
</ng-template>