.title-block {
    background-color: lavender;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.totals-header {
    position: sticky;
    top: 67px;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    overflow-y: auto;
    .image-container {
        height: calc(100vh - 485px);
        overflow: auto;
        gap: 6px;
        img {
            width: 100%;
        }
    }
    .image-container-slider {
        height: calc(100vh - 485px);
        overflow: auto;
        gap: 10px;
        img {
            width: 100%;
        }
    }
}

td {
    vertical-align: middle;
}

.thumb-container {
    width: 100px;
    height: 60px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
    }
}

.form-control {
    &.search-box {
        width: 300px;
        position: relative;
        top: -8px;
    }
    &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

.home-grid {
    gap: 20px;

    .card {
        width: 18rem;
        height: 390px;
        img {
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }

        .image-container-slider {
            overflow: auto;
            height: fit-content;
            gap: 10px;
            img {
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}

span {
    &.score {
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.visited-flag {
    background-color: gold;
    color: #333;
    position: absolute;
    transform: rotate(335deg);
    left: 0px;
    top: 10px;
    font-size: 13px;

    &.mobile {
        left: -8px;
    }
}
.pending-flag {
    background-color: rgb(203, 190, 120);
    color: #333;
    position: absolute;
    transform: rotate(335deg);
    left: 0px;
    top: 10px;
    font-size: 13px;

    &.mobile {
        left: -8px;
    }
}
.discarted-flag {
    background-color: rgb(239, 132, 108);
    color: #333;
    position: absolute;
    transform: rotate(335deg);
    left: 0px;
    top: 10px;
    font-size: 13px;

    &.mobile {
        left: -8px;
    }
}

.label-ng-select {
    position: relative;
    top: -8px;
    left: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    /*font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    ;*/
}

.agencia {
    color: #888;
    font-size: 12px;
}

::ng-deep .custom-offcanvas-width {
    width: 500px !important; /* Set your desired width */
}