/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";

@import "@ng-select/ng-select/themes/material.theme.css";

@import "@fortawesome/fontawesome-free/css/all.css";

body {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

.text-decoration-none {
    text-decoration: none;
}

.badge {
    &.badge-pill {
        padding-right: .6em;
        padding-left: .6em;
        border-radius: 10rem;
    }
    &.badge-success {
        color: #28a745 !important;
        border: 1px solid #28a745 !important;
    }
    &.badge-danger {
        color: #dc3545 !important;
        border: 1px solid #dc3545 !important;
    }
    &.badge-bg-success {
        color: white;
        background-color: #28a745 !important;
        border: 1px solid #28a745 !important;
    }
    &.badge-bg-danger {
        color: white;
        background-color: #dc3545 !important;
        border: 1px solid #dc3545 !important;
    }
    &.badge-no-border {
        border: 1px solid transparent !important;
    }
}